@import "tailwindcss";

/* *{
    color: #fff;

} */
/* body{
    background-color: #111;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
